* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    HEADER
*/
.small-container {
    max-width: 1600px;
    min-height: 50px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container {
    width: 75%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casella-1 {
    flex-grow: 1;
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    line-height: 30px;
}

.casella-2 {
    flex-grow: 2;
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    text-align: center;
    line-height: 30px;
}

.casella-3 {
    flex-grow: 1;
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    text-align: end;
    line-height: 30px;
}

.big-container {
    max-width: 1600px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: blue;
}

.second-container {
    width: 60%;
    height: 260px;
    border: 1px dashed black;
}

.pink {
    background-color: pink;
}

/* 
    MAIN
*/
.big-container-2 {
    max-width: 1600px;
    min-height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: white;
}

.grey {
    background-color: grey;
}

.block-2 {
    width: 380px;
    height: 300px;
    border: 1px dashed black;
}

.lightblue {
    background-color: cornflowerblue;
}

.navajowhite {
    background-color: navajowhite;
}

#bigger {
    width: calc(380px * 2);
}

.very-big-container {
    max-width: 1600px;
    min-height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-3 {
    width: calc(380px * 3);
    height: 600px;
    background-color: green;
    border: 1px dashed black;
}

.black {
    background-color: black;
}

.last-container {
    width: calc(380px * 3);
    height: 300px;
    margin: 8px auto;
    display: flex;
}

.big-container-2-without-flex {
    max-width: 1600px;
    min-height: 340px;
    border-bottom: 1px solid white;
}

.block-x {
    width: calc(100% / 5);
    height: 300px;
    border: 1px dashed black;
}

.first {
    width: calc(100% / 5 * 2);
    background-color: lightcoral;
}

.others {
    width: calc(100% / 4);
    background-color: aqua;
}

/* 
    FOOTER
*/
.logo-button-container {
    width: calc(380px * 3);
    height: 30px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.tasto {
    line-height: 14px;
    padding: 8px;
    background-color: lightcoral;
    border: 1px dashed black;
}
