* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    HEADER
*/
.small-container {
    max-width: 1600px;
    min-height: 50px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container {
    width: 75%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casella-1 {
    flex-grow: 1;
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    line-height: 30px;
}

.casella-2 {
    flex-grow: 2;
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    text-align: center;
    line-height: 30px;
}

.casella-3 {
    flex-grow: 1;
    height: 30px;
    background-color: orange;
    border: 1px dashed black;
    text-align: end;
    line-height: 30px;
}

.big-container {
    max-width: 1600px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: blue;
}

.second-container {
    width: 60%;
    height: 260px;
    border: 1px dashed black;
}

.pink {
    background-color: pink;
}

/* 
    MAIN
*/
.big-container {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.higher {
    min-height: 350px;
}

.white {
    background-color: white;
}

.grey {
    background-color: grey;
}

.lightblue {
    background-color: cornflowerblue;
}

.third-container {
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    flex-grow: 1.5;
    height: 300px;
    border: 1px dashed black;
}

.block-2 {
    flex-grow: 1;
    height: 300px;
    border: 1px dashed black;
}

.navajowhite {
    background-color: navajowhite;
}

#bigger {
    width: calc(380px * 2);
}

.very-big-container {
    max-width: 1600px;
    min-height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-container {
    width: 75%;
    height: 600px;
    border: 1px dashed black;
}

.green {
    background-color: green;
}

.big-container-special {
    max-width: 1600px;
    min-height: 300px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.black {
    background-color: black;
}

.flex {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-container {
    height: 300px;
    margin: 3px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.5;
}

.last-container-2 {
    height: 300px;
    margin: 3px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.block-x-1 {
    flex-grow: 2;
    height: 300px;
    border: 1px dashed black;
}

.block-x {
    flex-grow: 1;
    height: 300px;
    border: 1px dashed white;
}

.lightcoral {
    background-color: lightcoral;
}

.aqua {
    background-color: aqua;
}

/* 
    FOOTER
*/
.logo-button-container {
    width: calc(380px * 3);
    height: 30px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.tasto {
    line-height: 14px;
    padding: 8px;
    background-color: lightcoral;
    border: 1px dashed black;
}
